.info > div > p {
	color: #717171;
	font-size: 12px;
	text-align: justify;
}

.publish_info > div > p {
	color: #717171;
	font-size: 12px;
	text-align: justify;
}

.publish_info > span{
  display:inline-block;
	color: #717171;
	font-size: 12px;
	text-align: justify;
  margin-bottom:10px; 
}
form {
  display: inline-block;
  width: 100%;
 }

 form > label { 
  width: 100%;
 }
form .comment {
  margin-top:15px;
  width:100%;
}

form  textarea {
  width: 100%;
  vertical-align:middle;
}

form > button{
  vertical-align:bottom;
}
